
 #decepticons {
  -fx-background-image: url("Imagenes/Algocepticons.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 90 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);

    }